
/*Rotating Words Headline*/
 .dynamic-words {
  display: inline-block;
  min-width: 6.5ch; /* Adjust based on your longest word */
  white-space: nowrap;
}

/*Navbar*/

/* Class added when scrolling */
.is-frosty {
  background-color: rgba(12, 12, 12, 0.6); /* Adjust opacity/color as needed */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.2); /* Optional for depth */
}